body {
  background: #61B2E3;
  color: #333333;
  margin-top: 5rem;
  /* my pink background colour */
  background-color: rgb(238, 130, 238);
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

/* styling removes the bullet points from the menu list */
ul {
  list-style-type:none;
}
