{% extends "index.html" %}
{% block login %}
<link rel="stylesheet" href="/static/styless.css" type="text/css">
<div class="row">
    <div class="col-md-6 login-form-1">
      <form action="/login" method="POST">
        <div class="login">
          <div class="login-screen">
            <div class="app-title">
              <h1>Login</h1>
            </div>
            <div class="login-form">
              <div class="control-group">
                <input type="text" class="login-field" value="" placeholder="Username" name="username">
                <label class="login-field-icon fui-user" for="login-name"></label>
              </div>
              <div class="control-group">
                <input type="password" class="login-field" value="" placeholder="Password" name="password">
                <label class="login-field-icon fui-lock" for="login-pass"></label>
              </div>
              <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6 create-form-1">
      <form action="/create_account" method="POST">
        <div class="create_account">
          <div class="login-screen">
            <div class="app-title">
              <h1>Create Account</h1>
            </div>
            <div class="login-form">
              <div class="control-group">
                <input type="text" class="login-field" value="" placeholder="Email" name="email">
              </div>
              <div class="control-group">
                <input type="password" class="login-field" value="" placeholder="Password" name="password">
              </div>
              <div class="control-group">
                <input type="password" class="login-field" value="" placeholder="Password" name="password">
              </div>
              <input type="submit" value="Create New Account" class="btn btn-primary btn-large btn-block">
            </div>
          </div>
        </div>
      </form>
    </div>
</div>




{% endblock login %}
