{% extends "index.html" %}
{% block login %}
<link rel="stylesheet" href="/static/styless.css" type="text/css">
<div class="row">
    <div class="col-md-6 login-form-1">
      <form action="/login" method="POST">
        <div class="login">
          <div class="login-screen">
            <div class="app-title">
              <h1>Login</h1>
            </div>
            <div class="login-form">
              <div class="control-group">
                <input type="text" class="login-field" value="" placeholder="Username" name="username">
                <label class="login-field-icon fui-user" for="login-name"></label>
              </div>
              <div class="control-group">
                <input type="password" class="login-field" value="" placeholder="Password" name="password">
                <label class="login-field-icon fui-lock" for="login-pass"></label>
              </div>
              <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
            </div>
          </div>
        </div>
      </form>
    </div>

    {% block contentregister %}
        <div class="content-section">
            <form method="POST" action="/create">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Create an item for your to do list! </legend>
                    <!-- TITLE FIELD -->
                    <div class="form-group">
                        {{ form.title.label(class="form-control-label") }}
                        {% if form.title.errors %}
                            {{ form.title(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.title.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.title(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <!-- CONTENT FIELD -->
                    <div class="form-group">
                        {{ form.content.label(class="form-control-label") }}
                        {% if form.content.errors %}
                            {{ form.content(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.content.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.content(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
                <!-- SUBMIT BUTTON ON FORM-->
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>

            </form>
        </div>
    {% endblock contentregister %}

</div>




{% endblock login %}
